APP_PORT=3000
APP_PUBLIC_URL=http://localhost:9002
RAZORPAY_WEBHOOK_URL=http://localhost:9002/api/payments/razorpay/webhook
DOCKER_DB_HOST=host.docker.internal
REDIS_PORT=6379
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=replace-me-minio-user
MINIO_ROOT_PASSWORD=replace-me-minio-password
